:root {
    color: white;
    background-color: black;
    font-family: monospace;
}

#greet {
    padding-top: 5vh;
    padding-left: 5vh;
}

#greet-p1 {
    font-size: 4vh;

    margin: 0;
}

a:link {
    color: gainsboro;
    text-decoration: none;
}

a:hover {
    color: gainsboro;
    text-decoration: underline;
}

a:visited {
    color: gainsboro;
    text-decoration: none;
}

#about {
    font-size: 4vh;

    margin-top: -2vh;
    padding-left: 7vh;
}

footer {
    font-size: 2.5vh;

    padding-left: 5vh;
}