:root {
    color: white;
    background-color: black;
    font-family: monospace;
}  

.icon-kde:before {
    content: "\e902";
    color: #1d99f3;
}

.icon-modrinth:before {
    content: "\e901";
    color: #14da6a;
}

.icon-github:before {
    content: "\e900";
}

.icon-sphere:before {
    content: "\e903";
    color: #fff;
}

#greet {
    padding-top: 5vh;
    padding-left: 5vh;
}

#greet-p1 {
    font-size: 4vh;

    margin: 0;
}

#project-title {
    font-size: 4vh;

    padding-left: 7vh;
    margin-bottom: 0;
}

#links {
    font-size: 3vh;
    color: white;

    padding-left: 2vh;
    padding-top: 0.5vh;
    margin-top: -4vh;
    margin-bottom: 3.5vh;
}

img {
    margin-right: 2vh;
    margin-bottom: -2px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

a:visited {
    color: white;
    text-decoration: none;
}

#footer:link {
    color: gainsboro;
    text-decoration: none;
}

#footer:hover {
    color: gainsboro;
    text-decoration: underline;
}

#footer:visited {
    color: gainsboro;
    text-decoration: none;
}

#about {
    font-size: 4vh;

    margin-top: -2vh;
    padding-left: 7vh;
}

footer {
    font-size: 2.5vh;

    padding-left: 5vh;
}